@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  height: 100%;
  line-height: 1.2;
}
body {
  /* font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; */
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
}
* {
  font-family: 'Roboto', sans-serif;
}
input[type='checkbox'] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;
}
input[type='checkbox'] {
  cursor: pointer;
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.05em;
  height: 1.05em;
  border: 1px solid #c6c6c6;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
}

input[type='checkbox'] {
  /* ...existing styles */
  display: grid;
  place-content: center;
}

input[type='checkbox']::before {
  content: '';
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 100ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
}

input[type='checkbox']:checked::before {
  transform: scale(1);
}
input[type='checkbox']::before {
  background-color: #fb5533;
}
input[type='checkbox']::before {
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.paragraph-container {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2; /* số dòng giới hạn */
  max-height: 3.6em; /* Chiều cao tối đa tương ứng với 2 dòng */
}

/* Ratings */

.rating-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  color: #fdcc0d;
}

.rating-outer::before {
  content: '\f006 \f006 \f006 \f006 \f006';
}

.rating-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  color: #f8ce0b;
  font-family: FontAwesome;
}

.rating-inner::before {
  content: '\f006 \f006 \f006 \f006 \f006';
}

.swiper-button-prev,
.swiper-button-next {
  color: white !important ;
  transform: scale(0.7);
  font-weight: 700;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}

.ant-table-cell {
  padding: 5px !important;
}

.animate-rang {
  animation: rang 1.5s linear alternate infinite;
}
body {
  overflow-y: scroll;
}
body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(215, 0, 24);
  border-radius: 2px;
}
.container-chatbot {
  overflow-y: scroll;
}

.icon-Chatbot {
  /* animation: chatbot 1.5s linear alternate infinite; */
  box-shadow: 0px 0px 50px 10px blue;
  border-radius: 50%;
}

.icon-Chatbot::before {
  content: '';
  width: 100%;
  height: 100%;
  background: red;
}
@keyframes chatbot {
  0% {
    box-shadow: 0px 0px 50px 1px blue;
  }
  25% {
    box-shadow: 0px 0px 50px 3px blue;
  }
  30% {
    box-shadow: 0px 0px 50px 7px blue;
  }
  40% {
    box-shadow: 0px 0px 50px 10px blue;
  }
  50% {
    box-shadow: 0px 0px 50px 13px blue;
  }
  60% {
    box-shadow: 0px 0px 50px 15px blue;
  }
  70% {
    box-shadow: 0px 0px 50px 17px blue;
  }
  90% {
    box-shadow: 0px 0px 50px 20px blue;
  }
}

.container-chatbot::-webkit-scrollbar {
  width: 4px;
}
.container-chatbot::-webkit-scrollbar-thumb {
  background-color: rgb(215, 0, 24);
  border-radius: 2px;
}

.scroll-cart::-webkit-scrollbar {
  width: 4px;
}
.scroll-cart::-webkit-scrollbar-thumb {
  background-color: rgb(215, 0, 24);
  border-radius: 2px;
}

.scroll-cart-details {
  overflow-y: scroll;
}
.scroll-cart-details::-webkit-scrollbar {
  width: 4px;
}
.scroll-cart-details::-webkit-scrollbar-thumb {
  background-color: rgb(215, 0, 24);
  border-radius: 2px;
}
.scroll-cate::-webkit-scrollbar-thumb {
  background-color: rgb(215, 0, 24); /* Color of the thumb */
  border-radius: 2px; /* Rounded corners */
}

.scroll-cate::-webkit-scrollbar {
  height: 5px; /* Width of the scrollbar */
}

.swiper-button-prev,
.swiper-button-next {
  color: #000000 !important;
}
@keyframes rang {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-30deg);
  }
  40% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  60% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(0deg);
  }
}
