@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  line-height: 1.2;
}
body {
  /* font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; */
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
}
input[type='checkbox'] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;
}
input[type='checkbox'] {
  cursor: pointer;
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.05em;
  height: 1.05em;
  border: 1px solid #c6c6c6;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
}

input[type='checkbox'] {
  /* ...existing styles */
  display: grid;
  place-content: center;
}

input[type='checkbox']::before {
  content: '';
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 100ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
}

input[type='checkbox']:checked::before {
  transform: scale(1);
}
input[type='checkbox']::before {
  background-color: #fb5533;
}
input[type='checkbox']::before {
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.paragraph-container {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2; /* số dòng giới hạn */
  max-height: 3.6em; /* Chiều cao tối đa tương ứng với 2 dòng */
}

/* Ratings */

.rating-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  color: #fdcc0d;
}

.rating-outer::before {
  content: '\f006 \f006 \f006 \f006 \f006';
}

.rating-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  color: #f8ce0b;
}

.rating-inner::before {
  content: '\f005 \f005 \f005 \f005 \f005';
}

.swiper-button-prev,
.swiper-button-next {
  color: white !important ;
  transform: scale(0.7);
  font-weight: 700;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}

.ant-table-cell {
  padding: 5px !important;
}

@keyframes rang {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-30deg);
  }
  40% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  60% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(0deg);
  }
}

.animate-rang {
  animation: rang 1.5s linear alternate infinite;
}
body {
  overflow-y: hidden;
}
